.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.count {
    background-color: antiquewhite;
    align-self: start;
    padding: 5px;
}